.main-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}

.main-header {
  width: 335px;
  height: 42px;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  background: #fbfbfb;
  margin: 0 auto;
  position: absolute;
  z-index: 15;
  right: 50%;
  transform: translateX(50%);
  top: 20px;
  padding: 7px 0;
}

.navigation-list {
  display: none;
}

.header-social-list {
  display: none;
}



@media only screen and (min-width: 768px) {
  .main-header {
    width: 704px;
    height: 48px;
    top: 32px;
    padding: 4px 0;

  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 704px;
  }

  .main-navigation {
    display: flex;
    align-items: center;
    gap: 113px;

  }

  .main-logo {
    font-size: 20px;


  }

  .navigation-list {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .navigation-item-link {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background: rgba(27, 65, 75, 0.5);
    padding: 15px 25px;
    display: block;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .header-social-link {
    background: #fbfbfb;
    color: #fbfbfb;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-soc-link-svg {
    fill: #1b414b;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

}

/* Styles for Desktop devices */
@media only screen and (min-width: 1210px) {
  .main-header {
    width: 1080px;
  }
.header-container{width: 1080px;}
  .main-navigation {
    gap: 296px;
  }

  .navigation-item-link:hover,
  .navigation-item-link:focus {
    background: #1b414b;
  }

  .header-social-link:hover .header-soc-link-svg,
  .header-social-link:focus .header-soc-link-svg {
    fill: #062730;
  }
}