.main-header {
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 1080px;
  height: 48px;
  background: #fbfbfb;
  margin: 0 auto;
  padding: 4px 0;
  position: absolute;
  z-index: 15;
  right: 50%;
  transform: translateX(50%);
  top: 32px;

}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1080px;
}

.main-navigation {
  display: flex;
  align-items: center;
  gap: 296px;
}

.main-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.navigation-item-link {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  border-radius: 8px;
  width: 91px;
  height: 40px;
  background: rgba(27, 65, 75, 0.5);
  padding: 15px 25px;
  display: block;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item-link:hover,
.navigation-item-link:focus {
  background: #1b414b;
}

.header-social-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-social-link {
  background: #fbfbfb;
  color: #fbfbfb;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-soc-link-svg {
  fill: #1b414b;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-link:hover .header-soc-link-svg,
.header-social-link:focus .header-soc-link-svg {
  fill: #062730;
}

.main-title {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 1001px;

  margin: 0 auto 24px;
}